/* Header CSS Starts Here */
header.header .navbar ul li {
  text-transform: capitalize;
}

header.header .navbar ul li a {
  color: var(--light-color) !important;
  font-size: 1.8rem;
}

header.header .navbar ul li a:hover {
  color: var(--white) !important;
}
/* Header CSS Ends Here */

/* Home Banner Section CSS Starts Here */
.home-banner {
  background-color: var(--blue);
  position: relative;
  padding: 10rem 0 7rem 0;
  overflow: hidden;
}

.home-banner .home-banner-img {
  margin-right: -16rem;
  margin-bottom: -8rem;
}

.auth-form .input-group {
  padding: 1rem 2rem;
  background-color: var(--white);
  border-radius: 4rem;
}

.auth-form .input-group-text {
  font-size: 2rem;
  background: transparent;
  color: var(--yellow);
  border: none;
}

.home-banner .btn {
  padding: 1rem 3rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid var(--yellow);
  border-radius: 4rem;
}

.home-banner .signin-btn {
  background-color: var(--yellow);
}

.home-banner .signup-btn {
  background-color: var(--dark-blue);
}
/* Home Banner Section CSS Ends Here */

/* Social Medias Section CSS Starts Here */

.social-medias .social-media-logo-single {
  transition: 0.2s;
}

.social-medias .social-media-logo-single:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px 0 #3b5b7f;
}
/* Social Medias Section CSS Ends Here */

/* Why Choose Us Section CSS Starts Here */
.why-choose-us .choose-us-box {
  height: 100%;
  background-color: var(--blue);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border-bottom: 0.8rem solid var(--yellow);
  transition: 0.3s ease-in-out;
}

.why-choose-us .choose-us-box:hover {
  transform: translateY(-2.5rem);
}

.why-choose-us .choose-us-box.choose-us-box-highlight {
  background-color: var(--yellow);
  border-color: var(--white);
}

.why-choose-us .choose-us-box h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.why-choose-us .choose-us-box.choose-us-box-highlight h3 {
  color: var(--blue);
}

.why-choose-us .choose-us-box p {
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.why-choose-us .choose-us-box a.btn {
  background-color: var(--yellow);
  color: var(--white);
  font-size: 1.6rem;
  text-transform: capitalize;
  box-shadow: var(--shadow-yellow);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
}

.why-choose-us .choose-us-box.choose-us-box-highlight a.btn {
  background-color: var(--dark-blue);
  box-shadow: var(--shadow-dark);
}
/* Why Choose Us Section CSS Ends Here */

/* Client Feedback Section CSS Starts Here */
.client-feedback {
  position: relative;
}

.client-feedback::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--blue);
  width: 100%;
  height: 45%;
  z-index: -1;
}

.client-feedback .feedback-card {
  background-color: var(--white);
  color: var(--text-color);
  padding: 3rem 2rem;
  border-radius: 1.2rem;
  border: 0.3rem solid var(--white);
  transition: 0.3s;
}

.client-feedback .feedback-card:hover {
  border: 0.3rem solid var(--yellow);
  transform: scale(1.03);
}
/* Client Feedback Section CSS Starts Here */

/* FAQ Section CSS Starts Here */
.faq-card {
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 2rem;
  border-radius: 3rem;
  overflow: hidden;
}

.faq-card .faq-title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.5rem;
  font-weight: 600;
}

.faq-card .faq-title-btn span {
  color: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ Section CSS Ends Here */

/* Payment Method Section CSS Starts Here */
.payment-method-section .payment-method-logo {
  background-color: var(--light-color);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.payment-method-section .payment-method-logo img {
  height: 3.5rem;
}
/* Payment Method Section CSS Ends Here */

/* About Us Page CSS Starts Here */
.happy-customers::before {
  top: 0;
  height: 60%;
}
/* About Us Page CSS Ends Here */

/* FAQ Page CSS Starts Here */
.faq-page .faq-card {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.7rem;
}
/* FAQ Page CSS Ends Here */

/* Blog Page CSS Starts Here */
.blog-card {
  background-color: var(--blue);
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
}

.blog-card img {
  width: 100%;
  height: 23rem;
}

.blog-card .blog-content {
  padding: 2rem 1.5rem;
}

.blog-card .blog-content .cat {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--yellow);
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 600;
}

.blog-card .blog-content .cat:hover {
  opacity: 0.7;
}

.blog-card .blog-content .blog-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-card .blog-content .blog-desc {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.blog-card .blog-content .see-more {
  color: var(--yellow);
  text-decoration: underline;
  font-weight: 500;
}

.blog-card .blog-content .see-more:hover {
  opacity: 0.7;
}
/* Blog Page CSS Ends Here */

/* Single Page Details Page CSS Starts Here */
.post-details .post-img {
  height: 50rem;
}

.post-details .post-description p {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.post-details .post-description .row {
  margin-bottom: 2rem;
}
/* Single Page Details Page CSS Ends Here */

/* Footer CSS Starts Here */
footer {
  background-color: var(--blue);
  padding-top: 7rem;
}

footer .subscribe-form .input-group {
  border-radius: 4rem !important;
  overflow: hidden;
  background-color: var(--white);
}

footer .subscribe-form .input-group .input-group-text {
  border-radius: 4rem !important;
}

.footer .footer-col a:hover {
  text-decoration: underline;
}

.footer .footer-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

footer .footer-icon span {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--yellow);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .copy_right_area a:hover {
  color: var(--yellow);
  text-decoration: underline;
}
/* Footer CSS Ends Here */
