/* Home Banner CSS Starts Here */
.banner-img-md {
  grid-area: grid-img-md;
}

.banner-img-sm-1 {
  grid-area: grid-img-sm-1;
}

.banner-img-sm-2 {
  grid-area: grid-img-sm-2;
}

.banner-img-lg {
  grid-area: grid-img-lg;
}

.home-banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "grid-img-md grid-img-md grid-img-lg grid-img-lg"
    "grid-img-sm-1 grid-img-sm-2 grid-img-lg grid-img-lg";
  gap: 1.5rem;
}

.home-banner-grid > div {
  background-color: var(--black);
  padding: 8rem 3rem 3rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
}
/* Home Banner CSS Ends Here */

/* Product List Section CSS Starts Here */
.product-list-menu li {
  display: inline-block;
  padding: 0.8rem 3rem;
  margin: 0 1rem;
  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.product-list-menu li:hover {
  background-color: var(--brand-color) !important;
  color: var(--white);
}

.product-list-menu li.active {
  background-color: var(--brand-color) !important;
  color: var(--white);
}
/* Product List Section CSS Ends Here */

/* Popular Product Section CSS Starts Here */
.products-slider .position-relative .swiper {
  margin: 0 4rem;
}

.products-slider .position-relative .swiper-button-next,
.products-slider .position-relative .swiper-button-prev {
  top: 35%;
}

.products-slider .position-relative .swiper-button-next,
.products-slider .position-relative .swiper-rtl .swiper-button-prev {
  right: 0.25rem;
}

.products-slider .position-relative .swiper-button-prev,
.products-slider .position-relative .swiper-rtl .swiper-button-next {
  left: 0.25rem;
}

.products-slider .position-relative .swiper-button-next:after,
.products-slider .position-relative .swiper-button-prev:after {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  min-width: 3.5rem;
  max-width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transition: 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-product .position-relative .swiper-button-next:hover::after,
.popular-product .position-relative .swiper-button-prev:hover::after {
  color: var(--white);
  background-color: var(--brand-color);
}
/* Popular Product Section CSS Ends Here */

/* Featured Categories Section CSS Starts Here */
.featured-card {
  border-radius: 1rem;
  overflow: hidden;
}
.featured-card img {
  border-radius: 1rem;
  width: 100%;
  transition: 0.3s;
}

.featured-card:hover img {
  transform: scale(1.03);
}

.swiper-pagination-bullet {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--brand-color);
}

.featured-card-name {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--text-color-dark);
  color: var(--white);
  padding: 0.4rem;
  opacity: 0.8;
}

.featured-categories.products-slider .position-relative .swiper-button-next,
.featured-categories.products-slider .position-relative .swiper-button-prev {
  top: 45%;
}
/* Featured Categories Section CSS Ends Here */

/* Testimonial Section CSS Starts Here */
.testimonial .testimonial-speech .swiper-button-next:after,
.testimonial .testimonial-speech .swiper-button-prev:after {
  font-size: 2.5rem;
  color: var(--brand-color);
  font-weight: 600;
}

.product-gallery-img {
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 0.3s;
}

.product-gallery-img img {
  border-radius: 1.5rem;
  transition: 0.3s;
}

.product-gallery-img:hover img {
  transform: scale(1.1);
}
/* Testimonial Section CSS Ends Here */

/* Subscribe Section CSS Starts Here */
.subscribe-area {
  background-image: url(../../images/subscribe-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: 5rem;
  border-radius: 2rem;

  min-height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Subscribe Section CSS Ends Here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Single Product Page Starts Here */

/* product slider */
/* Slide CSS */
.single-product-slider .swiper {
  width: 100%;
  height: 100%;
}

.single-product-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.single-product-slider .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.single-product-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}

.single-product-slider .mySwiper2 {
  height: 80%;
  width: 100%;
}

.single-product-slider .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.single-product-slider .mySwiper .single-product-slider .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.single-product-slider .mySwiper .single-product-slider .swiper-slide-thumb-active {
  opacity: 1;
}

.single-product-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slide CSS */

.single-product-slider {
  border: 1px solid #e2a993;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 8rem;
}

.single-product-slider .swiper-slide img {
  width: 35rem;
  max-width: 35rem;
}

.single-product-slider .swiper-wrpper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-slider .mySwiper {
  margin-bottom: -12rem;
}

.single-product-slider .mySwiper .swiper-slide {
  border: 1px solid #e2a993;
  height: 15rem;
  max-height: 15rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--white);
  opacity: 1;
}

.single-product-slider .mySwiper .swiper-slide-thumb-active {
  border-color: var(--brand-color);
}

.single-product-slider .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
}
/* product slider end */

.single-product-cat:hover {
  opacity: 75%;
}
.product-details .product-title {
  font-size: 3.5rem;
}

.product-details-tabs .nav-pills .nav-item {
  margin-right: 2rem;
}

.product-details-tabs .nav-pills .nav-link {
  background: var(--light-color);
  color: var(--text-color);
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.product-details-tabs .nav-pills .nav-link.active {
  background: var(--brand-color);
  color: var(--white);
}

::marker {
  color: var(--brand-color);
  font-size: 2.5rem;
}

/* Single Product Page Ends Here */

/* Add To Cart Page Starts Here */
.edit-icon-pen {
  color: var(--white);
  font-size: 1.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.edit-icon-pen:hover {
  color: var(--white);
  opacity: 70%;
}

.card-item-single .img-thumbnail {
  width: 9rem;
  height: 9rem;
}

.card-item-single:last-child {
  border-bottom: 0 !important;
}

.add-to-cart-bottom-banner {
  background-image: url("../../images/add-to-cart-bottom-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  color: var(--white);
}
/* Add To Cart Page Ends Here */

/* Shop Page Starts Here */
ul.collapse-list li:last-child {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.per-page-filter select {
  width: 10rem;
  border-radius: 0.5rem;
  border-color: var(--text-color);
  padding: 0.3rem 1rem;
}
/* Shop Page Ends Here */

/* Signup & Signin Page Start Here  */
.login-form input {
  border: none !important;
}
.login-form input:focus {
  outline: 0px !important;
  appearance: none;
  box-shadow: none !important;
  border: none;
}
/* Signup & Signin Page End Here  */

/* Side Nav Starts Here */

.side-nav .user-info .user-profile-pic {
  width: 4rem;
  height: 4rem;
  background-color: var(--brand-color);
  border-radius: 50%;
}

.side-nav .side-menu .nav-item {
  margin-bottom: 1.2rem;
}

.side-nav .side-menu .nav-link {
  color: var(--text-color-dark);
  font-size: 1.5rem;
  padding-left: 0;
}

.side-nav .side-menu .nav-link:hover {
  color: var(--brand-color);
}

.side-nav .side-menu .nav-link i {
  margin-right: 0.5rem;
  font-size: 1.7rem;
  width: 2.2rem;
}
/* Side Nav Ends Here */

/* Account Order Page Starts Here */
.order-details .table thead {
  background-color: var(--brand-color-light);
  border-radius: 2rem;
}

.order-details .table > :not(:last-child) > :last-child > * {
  border-bottom: none;
}

.order-details .table td {
  padding: 2rem 1rem;
}

.order-details .table > :not(caption) > * > * {
  padding: 2.2rem 1rem;
}

.order-details .table .status {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.order-details .table .delivered {
  background-color: var(--brand-color-light);
  color: var(--brand-color);
}

.order-details .table .cancel {
  background-color: #f6dfe1;
  color: var(--bs-danger);
}

.order-details .table .in-progress {
  background-color: #ffeebb;
  color: #ff7440;
}

/* Account Order Page Ends Here */

/* Account Address Page Starts Here  */
.billing-address .billing-address-body h5 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
/* Account Address Page Ends Here  */

/* Account Details Page Starts Here */
.account-details .nav-pills .nav-item {
  margin-right: 2rem;
}

.account-details .nav-pills .nav-link {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  padding-left: 0;
}

.account-details .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--brand-color);
  background-color: transparent;
  text-decoration: underline;
}
/* Account Details Page Ends Here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
