.button-brand {
  color: var(--white);
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.button-green {
  color: var(--white);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}
.button-red {
  color: var(--white);
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}
